<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body class="hero is-primary has-navbar-fixed-top">
	<header class="hero-head">
		<nav class="navbar is-fixed-top">
			<div class="navbar-brand">
				<a class="navbar-item" href="{{ url_for('main.index') }}">
					{{ title }}
				</a>
			</div>
		</nav>
	</header>

	<div class="hero is-light">
		<div class="hero-body">
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>

	<footer class="hero-foot">
		<div class="container">
			{% block auth %}
			{% endblock %}
		</div>
	</footer>
</body>

</html>
